.slideshow {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.black-bg {
    background-color: black;
}

.white-bg {
    background-color: whitesmoke;
}

/* Navigation control styles */
.slideshow .slideshow-actions {
    display: flex;
    width: 100%;
    justify-content: space-between;
    /* put space between the navigation buttons */
    position: absolute;
    /* position navigation buttons on top */
    top: 50%;
    /* center navigation buttons on the slide */
    transform: translateY(-50%);
    /* align navigation buttons */
}

.slideshow .slideshow-actions button {
    border-radius: 50px;
    background-color: red;
    border: 0;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.slideshow .slideshow-actions button#slideshow-button-prev {
    margin-left: 20px;
}

.slideshow .slideshow-actions button#slideshow-button-next {
    margin-right: 20px;
}

@keyframes fadeVisibility {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.white-text {
    color: white;
}

.red-text {
    color: red;
}
