.text-container {
  width: 90vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text {
  color: black;
  line-height: 1em;
}

.quote-body {
  font-size: 3em;
  font-weight: 400;
}

.quote-author {
  font-size: 2em;
  font-weight: 600;
}