.video-slide {
  position: relative;
  width: 100%;
  max-width: 800px;
}

.video-slide video {
  width: 100%;
  height: auto;
}

.video-slide button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  /* Semi-transparent black background */
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1;
}